<footer class="mt-32 pt-5 pb-8 glass">
  <div class="max-w-[46rem] flex flex-col gap-6 mx-auto px-6">
    <h3 class="self-center font-bold text-[32px]">Partnerships</h3>
    <ul class="flex justify-between">
      <li class="btn btn-neutral-content">
        <a class="cursor-pointer font-bold">
          Healthcare Network
        </a>
      </li>
      <li class="btn btn-neutral-content">
        <a class="cursor-pointer font-bold">
          APOE Testing
        </a>
      </li>
      <li class="btn btn-neutral-content">
        <a class="cursor-pointer font-bold">
          MMS Examination
        </a>
      </li>
    </ul>
  </div>
</footer>