<footer class="max-w-[46rem] mx-auto mt-32 pb-10">
  <ul class="flex items-center justify-between">
    <li><a href="">Contact</a></li>
    <li><a href="">About</a></li>
    <li><a href="">External links</a></li>
  </ul>
</footer>