---
import InputData from "./InputData.astro";
---

<main class="max-w-[46rem] mx-auto pt-28md:px-0 px-7">
  <section>
    <h1 class="capitalize text-center text-[56px] font-bold">
      Alzheimer's Prediction System
    </h1>
    <article class="mt-10">
      <h2 class="my-5 font-bold text-4xl">
        Disclaimer
      </h2>
      <p class="text-lg text-justify glass px-4 py-4 rounded-2xl">
        The following simulation system is an efffort to raise awareness about the importance of early detection of Alzheimer's Disease (AD). The prediction is based on a machine learning model that takes into consideration the users' demographic, and genetic characteristics, to predict a higher or lower risk of developing AD in the future.
      </p>

      <p class="text-lg text-justify glass px-4 py-4 rounded-2xl mt-7">
        This is not a diagnostic tool. The simulation performed by this system is for informational purposes only. Consult a healthcare professional for accurate testing and diagnosis.
      </p>
    </article>
  </section>
  <section class="mt-10">
    <InputData />
  </section>
</main>